<div class="navbar">
  <div class="navbar-left">
    <!--If logged out this text should lead to the landing page otherwise
    it should lead to the home page-->
    @if ((loggedInStatus | async) && !shouldHideSidebar) {
    <a class="product-text" [routerLink]="'/home'">Ideahub</a>
    } @else {
    <a class="product-text" [routerLink]="'/'">Ideahub</a>
    }
  </div>

  @if ((loggedInStatus | async) && !shouldHideSidebar) {
  <!-- Logged in navigation is in the sidebar -->
  } @else {
  <nav class="nav-items">
    <a routerLink="/about" class="nav-link">About</a>
    <a routerLink="/pricing" class="nav-link">Pricing</a>
    <a routerLink="/contacts" class="nav-link">Contacts</a>
    <a routerLink="/documentation" class="nav-link">Documentation</a>
  </nav>
  }

  <div class="navbar-right">
    @if (loggedInStatus | async; as isLoggedIn) {
    <app-buttons [buttonText]="'LOG OUT'" [buttonStyleClass]="'btn-logout-navbar'" [buttonType]="'button'"
      (click)="onLogout()" />
    } @else {
    <app-buttons [buttonText]="'LOG IN'" [buttonStyleClass]="'btn-login-navbar'" [buttonType]="'button'"
      [buttonLink]="'/login'" />
    <app-buttons [buttonText]="'SIGN UP'" [buttonStyleClass]="'btn-signup-navbar'" [buttonType]="'button'"
      [buttonLink]="'/register'" />
    }

  </div>
</div>