services:
  ideahub-db:
    image: postgres:15
    container_name: ideahub-db
    environment:
      POSTGRES_USER: ideahub_user
      POSTGRES_PASSWORD: ideahub_admin
      POSTGRES_DB: ideahub_db
    ports:
      - "5432:5432" # expose DB to host
    volumes:
      - ideahub_data:/var/lib/postgresql/data
    restart: always
    networks:
      - ideahub-net

  ideahub-backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: ideahub-backend
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://+:5065
      ASPNETCORE_HTTPS_PORTS: 7204
      ConnectionStrings__IdeahubString: Host=ideahub-db;Port=5432;Database=ideahub_db;Username=ideahub_user;Password=ideahub_admin
      PUBLIC_BASE_URL: http://localhost:5065
      SendGridSettings__ApiKey: ${SENDGRID_API_KEY}
      SendGridSettings__SenderEmail: noreply@ideahub.com
      SendGridSettings__SenderName: Ideahub
      SignIn__RequireConfirmedEmail: "false"
      Jwt__Key: "3538303035333830303533383030353338303035333830303533383030353338" # 32 bytes hex
      Jwt__Issuer: "http://localhost:5065"
      Jwt__Audience: "http://localhost:4200"
    ports:
      - "5065:5065"
    depends_on:
      - ideahub-db
    restart: always
    networks:
      - ideahub-net

  ideahub-frontend:
    build:
      context: ./ui
      dockerfile: Dockerfile
    container_name: ideahub-frontend
    command: [ "npm", "start" ]
    environment:
      ANGULAR_API_URL: "http://localhost:5065"
    volumes:
      - ./ui:/app
      - /app/node_modules
    ports:
      - "4200:4200" # Angular default dev server port
    depends_on:
      - ideahub-backend
    networks:
      - ideahub-net

volumes:
  ideahub_data:


networks:
  ideahub-net:
    driver: bridge
