.page-header {
  margin-left: 0px;
  display: inline-block;
  font-size: 1.5em;
  font-weight: 550;
  text-align: left;
  width: 100%;
  color: rgb(95, 1, 95);
}

.registration-form:not(.page-header) {
  background-color: plum;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  width: 300px;
  border: 1px solid purple;
  border-radius: 50px;
}

.form-section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-left: -10px;

  input {
    margin-left: auto;
    height: 30px;
    width: 100%;
    font-family: "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: small;
    border-radius: 5px;
    border: 1px solid white;
  }
}

label {
  max-width: 200px;
  text-align: right;
}

.submit-button {
  width: 100%;
  text-align: center;

  & p {
    font-size: 14px;
  }

  & a {
    font-size: 14px;
  }
}

input:hover {
  outline: 1px solid purple;
}

input:focus {
  outline: 1px solid purple;
  border-bottom: 2px solid purple;
  border-right: 2px solid purple;
  border-left: 2px solid purple;
}

.server-error {
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;

  p {
    color: #721c24;
    margin: 4px 0;
    font-size: 13px;
    text-align: left;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: left;
  width: 100%;

  &.password-requirements {
    color: #666;

    ul {
      margin: 5px 0;
      padding-left: 20px;
      list-style: none;

      li {
        position: relative;
        padding-left: 20px;
        margin: 3px 0;
        color: #dc3545;

        &::before {
          content: '✗';
          position: absolute;
          left: 0;
        }

        &.valid {
          color: #28a745;

          &::before {
            content: '✓';
          }
        }
      }
    }
  }
}

a {
  color: black;
}